@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Arimo", sans-serif;
    background-color: #0D131F;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Permanent Marker";
    color: #E54B4B;
}
/*--------------------------------------------Colors*/



/*--------------------------------------------Special paddings/margins/text*/





/*--------------------------------------------Header*/

header {
    z-index: 1;
}

nav {
    display: block;
}

#logo h2 {
    letter-spacing: 6px;
    font-size: 250%;
}

#logo h2:hover {
    color: #444;
}

#logo {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    float: right;
    letter-spacing: 5px;
}

#menu li {
    display: table-cell;
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}

#menu a {
    text-decoration: none;
    color: #E54B4B;

}

#menu a:hover {
    color: #444;

}

.active {
    border-bottom: 1px solid #000000;
}

/*--------------------------------------------Footer*/



/*-------------------------------------------- banner section*/

#hero-image {
    height: 600px;
    width: 100%;
    background-image: url("../images/pexels-sebastian-ervi-1763075.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    /* position: relative; */
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#listen-here {
    bottom: 30px;
    width: 450px;
    height: 100px;
    position: absolute;
    left: 25%;
    list-style-type: none;
    margin-bottom: 20px;
    
}

#listen-here h1 {
    text-align: center;
}

#listen-here li {
    display: table-cell;
    text-align: center;
    height: 55px;
    width: 85px;
    font-size: 50px;
    padding: 5px;
    color: #E54B4B;
    background-color: #000;
    border-radius: 50%;
}