@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Arimo", sans-serif;
    background-color: #0D131F;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Permanent Marker";
    color: #E54B4B;
}

/*--------------------------------------------Special paddings/margins/text*/

.sub-heading {
    margin: 0 20px 20px 20px;
    margin-bottom: 20px;
}

.row {
    padding-top: 20px;
}

.section-heading {
    letter-spacing: 4px;
    margin-bottom: 40px;
}

.col-md-4 {
    max-width: 32%;
}

.big-btn {
    margin: 20px;
}

.btn {
    background-color: #E54B4B;
}

.btn-sm {
    margin-top: 5px;
}

.listen {
    font-family: "Arimo", sans-serif;
}

.listen i {
    margin-right: 10px;
}

a {
    color: #E54B4B;
}

/*--------------------------------------------Header*/

nav {
    display: block;
}

#logo h2 {
    letter-spacing: 6px;
    font-size: 250%;
}

#logo>h2:hover {
    color: rgb(209, 97, 97);
}

btn:hover, a:hover {
    text-decoration: none;
}

#logo {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    float: right;
    letter-spacing: 5px;
}

#menu li {
    display: table-cell;
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}

#menu a {
    text-decoration: none;
    color: #fff;

}

#menu a:hover {
    color: rgb(197, 197, 197);

}

.active {
    border-bottom: 1px solid #fff;
}

/*--------------------------------------------Footer*/

/* Credit for original footer code to https://epicbootstrap.com/snippets/footer-dark*/

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #000000;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

/*-------------------------------------------- banner section*/

#hero-image img {
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text h2 {
    margin-left: 15px;
    text-align: center;
    letter-spacing: 10px;
}

#cover-text {
    font-size: 200%;
    width: fit-content;
    max-width: 450px;
    min-height: 75px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    background-color: rgba(29, 25, 25, 0.8);
    border: 1px solid #fff;
    border-radius: 30px;
    bottom: 75px;
    left: 75px;
    position: absolute;
}

#cover-text p {
    font-size: 16px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

/*-------------------------------------------- Live Dates*/

.live-show {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fff;
    border-left: 1px solid;
}

.live-show p {
    padding: 0;
    margin: 0;
}

.live-show:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.live-show:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}

/*-------------------------------------------- Recent Footage*/

.recent-show {
    margin: 0 10px 30px 10px;
    border: solid 1px #fff;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(15, 10, 10, 0.4);
}

.live-show-video {
    max-width: 100%;
}

/*-------------------------------------------- Band Members*/


.band-member-profile {
    margin: 30px auto;
    border: solid 1px #fff;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(15, 10, 10, 0.4);
}

.band-memeber-name {
    text-align: center;
    margin-bottom: 20px;
}

.circle-container {
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 35px auto;
    background-color: #000000;
    max-width: 95%;
}

.circle-cover-bg {
    background: no-repeat center center;
    height: 100%;
    border-radius: 50%;
    max-width: 95%;
}

.band-member-info {
    margin: 20px auto;
}

.band-question {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 40px;
}

.band-answer {
    vertical-align: center;
}

tr {
    padding: 20px;
    vertical-align: top;
}

td {
    width: 50%;
    padding-bottom: 5px;

}

.band-member-social-media {
    margin: 50px auto;
    text-align: center;
}

.band-member-social-media .item.social {
    text-align: center;
}

/* Credit for social media buttons css code to https://epicbootstrap.com/snippets/footer-dark*/
.band-member-social-media .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 10px 8px;
    color: #fff;
    opacity: 0.75;
}

.band-member-social-media .item.social>a:hover {
    opacity: 0.9;
}

/*-------------------------------------------- Sign up page*/

.message-box {
    margin: 30px auto;
    width: fit-content;    
    border: solid 1px #fff;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(15, 10, 10, 0.4);
    text-align: center;
}

.signup-form {
    width: 400px;
    padding: 30px;
}

.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fff;
    border-radius: 2px;
    font-family: "Arimo", sans-serif;

}

.text-input:hover {
    border-color: #E54B4B;
}

.join-button {
    margin: 20px auto;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    background-color: #E54B4B;
    color: #fff;
    display: block;
    font-family: "Arimo", sans-serif;

}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/*-------------------------------------------- Media queries*/

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }

    #logo {
        margin-left: 60px;
        margin-top: 10px;
    }

    #menu {
        margin-bottom: 35px;
    }

    #cover-text {
        left: 10%;
        right: 10%;
        max-width: 80%;
    }

    .section-heading {
        margin-left: 20%;    
    }

    .live-dates {
        width: 250%;
        margin-left: 30%;
        margin-bottom: 40px;
    }

    .live-show h4 {
        margin-top: 20px;
    }

    .band-member-profile {
        display: block;
        max-width: 95%;
    }

    .form-section {
        display: block;
        max-width: 95%;
    }

}
